// #USES

@use './global/colors' as *;
@use './global/breakpoints' as *;

@use './styles/media';

// #VARIABLES

    // --GAP
    $gap-block: max(2rem, 15px);
    $gap-inline: max(5rem, 20px);

// #APP

    // --GLOBAL
    %global
    {
        // #RESET

        body, h1, h2, h3, h4, h5, h6, ul, p, figure, blockquote, pre { margin: 0; }
        ul, button, input, input[type="text"], textarea { padding: 0; }

        li { list-style: none; }

        // #FONT

        @font-face
        {
            font-family: 'CodeNext-BLACK';
            src: local('CodeNext-Trial-Black'),
            url('./fonts/CodeNext/CodeNext-Trial-Black.ttf') format('truetype'),
            url('./fonts/CodeNext/CodeNext-Trial-Black.otf') format('opentype');
        }
        @font-face
        {
            font-family: 'CodeNext-BLACK-ITALIC';
            src: local('CodeNext-Trial-BlackItalic'),
            url('./fonts/CodeNext/CodeNext-Trial-BlackItalic.ttf') format('truetype'),
            url('./fonts/CodeNext/CodeNext-Trial-BlackItalic.otf') format('opentype');
        }
        @font-face
        {
            font-family: 'CodeNext';
            src: local('CodeNext-ExtraBold'),
            url('./fonts/CodeNext/CodeNext-ExtraBold.ttf') format('truetype'),
            url('./fonts/CodeNext/CodeNext-ExtraBold.otf') format('opentype');
        }
        @font-face
        {
            font-family: 'AnonymousProBold';
            src: url('./fonts/AnonymousPro/AnonymousPro-Bold.eot');
            src: local('Anonymous Pro Bold'), local('AnonymousPro-Bold'),
            url('./fonts/AnonymousPro/AnonymousPro-Bold.eot?#iefix') format('embedded-opentype'),
            url('./fonts/AnonymousPro/AnonymousPro-Bold.woff2') format('woff2'),
            url('./fonts/AnonymousPro/AnonymousPro-Bold.woff') format('woff'),
            url('./fonts/AnonymousPro/AnonymousPro-Bold.ttf') format('truetype');
        }
        @font-face
        {
            font-family: 'AnonymousPro';
            src: url('./fonts/AnonymousPro/AnonymousPro.eot');
            src: local('Anonymous Pro Regular'), local('AnonymousPro-Regular'),
            url('./fonts/AnonymousPro/AnonymousPro.eot?#iefix') format('embedded-opentype'),
            url('./fonts/AnonymousPro/AnonymousPro.woff2') format('woff2'),
            url('./fonts/AnonymousPro/AnonymousPro.woff') format('woff'),
            url('./fonts/AnonymousPro/AnonymousPro.ttf') format('truetype');
        }
        @font-face
        {
            font-family: '8bitArcadeIn';
            src: local('8-bit Arcade In'),
            url('./fonts/8_bit_arcade/8bitArcadeIn.ttf') format('truetype');
        }

        // #SET

        html
        {
            // overflow: hidden; padding-top: 16vh; box-sizing: border-box; width: 100vw; height: 100vh; body { transform: scale(1); } body, body>div, #app { overflow: hidden; width: 100%; height: 100%; }

            &, body, body>div
            {
                overflow: clip;

                width: 100vw;
                height: 100vh;
            }

            &, body { background-color: $dark; }

            font-size: 31.25%;

            @include media.min($ms4) { font-size: 46.875%; }
            @include media.min($ms6) { font-size: 62.5%; }
        }
    }