/*----------------------------------------------- #||--app--|| */


/* #\-USES-\ */

    /* --SASS */

    /* --GLOBAL */
    @use './global/colors' as *;
    @use './global/breakpoints' as *;

    /* --APP */

    /* --DEPENDENCIES */
    @use './styles/utils';

    /* --MEDIA */
    @use './styles/media';


/* #\-VARIABLES-\ */

    /* --* */
    $default-gap-inline: 3rem;
    $gap-block: 2rem;
    $gap-inline: var(--app-g-inline, $default-gap-inline);


/* #\-MIXIN-\ */

    /* --* */


/* #\-PLACEHOLDER-\ */

    /* --* */
    %reset
    {
        body, h1, h2, h3, h4, h5, h6, ul, p, figure, blockquote, pre { margin: 0; }
        ul, button, input, input[type="text"], textarea { padding: 0; }

        li { list-style: none; }

        a, img { @extend %no-drag; }

        a { text-decoration: none; }

        button, input
        {
            background-color: transparent;

            border: none;
        }

        button { cursor: pointer; }

        input { outline: none; }
    }

    %fonts
    {
        @font-face
        {
            font-family: 'CodeNext-BLACK';
            src: local('CodeNext-Trial-Black'),
            url('/fonts/CodeNext/CodeNext-Trial-Black.ttf') format('truetype'),
            url('/fonts/CodeNext/CodeNext-Trial-Black.otf') format('opentype');
        }
        @font-face
        {
            font-family: 'CodeNext-BLACK-ITALIC';
            src: local('CodeNext-Trial-BlackItalic'),
            url('/fonts/CodeNext/CodeNext-Trial-BlackItalic.ttf') format('truetype'),
            url('/fonts/CodeNext/CodeNext-Trial-BlackItalic.otf') format('opentype');
        }
        @font-face
        {
            font-family: 'CodeNext';
            src: local('CodeNext-ExtraBold'),
            url('/fonts/CodeNext/CodeNext-ExtraBold.ttf') format('truetype'),
            url('/fonts/CodeNext/CodeNext-ExtraBold.otf') format('opentype');
        }
        @font-face
        {
            font-family: 'AnonymousProBold';
            src: url('/fonts/AnonymousPro/AnonymousPro-Bold.eot');
            src: local('Anonymous Pro Bold'), local('AnonymousPro-Bold'),
            url('/fonts/AnonymousPro/AnonymousPro-Bold.eot?#iefix') format('embedded-opentype'),
            url('/fonts/AnonymousPro/AnonymousPro-Bold.woff2') format('woff2'),
            url('/fonts/AnonymousPro/AnonymousPro-Bold.woff') format('woff'),
            url('/fonts/AnonymousPro/AnonymousPro-Bold.ttf') format('truetype');
        }
        @font-face
        {
            font-family: 'AnonymousPro';
            src: url('/fonts/AnonymousPro/AnonymousPro.eot');
            src: local('Anonymous Pro Regular'), local('AnonymousPro-Regular'),
            url('/fonts/AnonymousPro/AnonymousPro.eot?#iefix') format('embedded-opentype'),
            url('/fonts/AnonymousPro/AnonymousPro.woff2') format('woff2'),
            url('/fonts/AnonymousPro/AnonymousPro.woff') format('woff'),
            url('/fonts/AnonymousPro/AnonymousPro.ttf') format('truetype');
        }
    }

    %html
    {
        html
        {
            #{--app-g-inline}: $default-gap-inline;

            &, body, body>div
            {
                overflow: clip;

                width: 100vw;
                height: 100vh;
                height: 100svh;

                overscroll-behavior: none;
            }

            &, body { background-color: $dark; }

            body { touch-action: none; }

            body>div { transform: scale(1); } // fixed children

            font-size: 31.25%;

            @include media.min($ms4)
            {
                --app-g-inline: 5rem;

                font-size: 46.875%;
            }
            @include media.min($ms6) { font-size: 62.5%; }
        }
    }