/*----------------------------------------------- #||--colors--|| */


/* #\-USES-\ */

    /* --SASS */

    /* --GLOBAL */

    /* --APP */

    /* --DEPENDENCIES */

    /* --MEDIA */


/* #\-EXPORTS-\ */

    /* --THIS */


/* #\-VARIABLES-\ */

    /* --* */
    $dark:       #0A0A0A;
    $light:      #EDF7F6;
    $primary:    #3F8EFC;
    $indicator:  #EF233C;
    $intermediate: rgba($light, .2);

    $colors:
    (
        dark         $dark,
        light        $light,
        primary      $primary,
        indicator    $indicator,
        intermediate $intermediate
    );


/* #\-MIXIN-\ */

    /* --* */


/* #\-PLACEHOLDER-\ */

    /* --* */


/* #\-THIS-\ */