// #VARIABLES

    // --COLORS
    $dark: #151515;
    $light: #EDF7F6;
    $intermediate: rgba($light, .1);
    $primary: #3F8EFC;
    $indicator: #EF233C;

    $colors:
    (
        dark $dark,
        light $light,
        intermediate $intermediate,
        primary $primary,
        indicator $indicator
    );