/*----------------------------------------------- #||--card--|| */


/* #\-USES-\ */

    /* --SASS */

    /* --GLOBAL */

    /* --APP */

    /* --DEPENDENCIES */

    /* --MEDIA */


/* #\-EXPORTS-\ */

    /* --THIS */


/* #\-VARIABLES-\ */

    /* --* */


/* #\-MIXIN-\ */

    /* --* */


/* #\-PLACEHOLDER-\ */

    /* --* */


/* #\-THIS-\ */

.card
{
    &, .texture, .icon { position: absolute; }

    .texture, .icon { backface-visibility: hidden; }

    .icon { transform: rotateY(180deg); }
}