/*----------------------------------------------- #||--card--|| */


/* #\-USES-\ */

    /* --SASS */

    /* --GLOBAL */

    /* --APP */

    /* --DEPENDENCIES */
    @use '../styles/utils';

    /* --MEDIA */


/* #\-EXPORTS-\ */

    /* --THIS */


/* #\-VARIABLES-\ */

    /* --* */


/* #\-MIXIN-\ */

    /* --* */


/* #\-PLACEHOLDER-\ */

    /* --* */


/* #\-THIS-\ */

.card
{
    @include utils.placement(absolute, $top: 0, $left: 0);

    .background, .texture, .icon { backface-visibility: hidden; }

    .background.back, .texture, .icon { position: absolute; }

    .background.back, .icon { transform: rotateY(180deg); }
}