/*----------------------------------------------- #||--features--|| */


/* #\-USES-\ */

    /* --SASS */

    /* --GLOBAL */
    @use './breakpoints' as *;

    /* --APP */
    @use '../app';

    /* --DEPENDENCIES */

    /* --MEDIA */


/* #\-EXPORTS-\ */

    /* --THIS */


/* #\-VARIABLES-\ */

    /* --* */


/* #\-MIXIN-\ */

    /* --* */


/* #\-PLACEHOLDER-\ */

    /* --* */


/* #\-THIS-\ */

.features
{
    .line
    {
        --line-height: 100%;

        &, .content { box-sizing: border-box; }

        padding-left: 2rem;

        .content { overflow: hidden; }
    }

    .contact-me .cell { gap: 1.2rem; }
}