/*----------------------------------------------- #||--features--|| */


/* #\-USES-\ */

    /* --SASS */

    /* --GLOBAL */
    @use './breakpoints' as *;

    /* --APP */
    @use '../app';

    /* --DEPENDENCIES */

    /* --MEDIA */


/* #\-EXPORTS-\ */

    /* --THIS */


/* #\-VARIABLES-\ */

    /* --* */


/* #\-MIXIN-\ */

    /* --* */


/* #\-PLACEHOLDER-\ */

    /* --* */


/* #\-THIS-\ */

.features .line
{
    &, .content { box-sizing: border-box; }

    flex: 1;

    padding-left: 2rem;

    .content { padding-inline: 6% app.$gap-inline; }
}