/*----------------------------------------------- #||--project--|| */


/* #\-USES-\ */

    /* --SASS */

    /* --GLOBAL */

    /* --APP */

    /* --DEPENDENCIES */
    @use '../styles/utils';

    /* --MEDIA */


/* #\-EXPORTS-\ */

    /* --THIS */


/* #\-VARIABLES-\ */

    /* --* */


/* #\-MIXIN-\ */

    /* --* */


/* #\-PLACEHOLDER-\ */

    /* --* */


/* #\-THIS-\ */

.project .tag
{
    @include utils.placement(absolute, $top: 0, $left: 0, $z: 1);

    transform: translate(-50%, -100%);
}