/*----------------------------------------------- #||--router--|| */


/* #\-USES-\ */

    /* --SASS */

    /* --GLOBAL */
    @use './breakpoints' as *;

    /* --APP */

    /* --DEPENDENCIES */

    /* --MEDIA */
    @use '../styles/media';


/* #\-EXPORTS-\ */

    /* --THIS */


/* #\-VARIABLES-\ */

    /* --* */
    $route-default-clip      : polygon(-10% -10%, 110% -10%, 110% 110%, -10% 110%);
    $route-duration          : .4s;
    $route-default-transition: clip-path $route-duration var(--route-t-delay, 0s) ease-out;


/* #\-MIXIN-\ */

    /* --* */


/* #\-PLACEHOLDER-\ */

    /* --* */


/* #\-THIS-\ */

.router
{
    &.hide
    {
        pointer-events: none !important;
    
        .route
        {
            opacity: 0;
    
            clip-path: polygon(-20% 0, -20% 0, -20% 100%, -20% 100%);

            transition: $route-default-transition, opacity 0s calc($route-duration + var(--route-t-delay, 0s));
        }
    }

    .route
    {
        opacity: 1;

        clip-path: $route-default-clip;

        transition: $route-default-transition;
    }

    @include media.min($ms4, $ms4)
    {
        &.hide
        {
            pointer-events: auto !important;

            &:hover .route, .route:focus
            {
                opacity: 1 !important;                  
        
                clip-path: $route-default-clip !important;

                transition: $route-default-transition !important;
            }
        }
    }
}