/*----------------------------------------------- #||--terminal--|| */


/* #\-USES-\ */

    /* --SASS */

    /* --GLOBAL */
    @use './colors'      as *;
    @use './breakpoints' as *;

    /* --APP */

    /* --DEPENDENCIES */
    @use '../styles/utils';

    /* --MEDIA */
    @use '../styles/media';


/* #\-EXPORTS-\ */

    /* --THIS */


/* #\-VARIABLES-\ */

    /* --* */


/* #\-MIXIN-\ */

    /* --* */


/* #\-PLACEHOLDER-\ */

    /* --* */


/* #\-THIS-\ */

.terminal
{
    &.focus
    {
        &.turn .container
        {
            .face
            {
                transform: rotateY(-180deg);

                pointer-events: none;
            }

            .back
            {
                transform: rotateY(0);

                pointer-events: auto;
            }
        }
    
        .container .face { pointer-events: auto; }
    }

    .container
    {
        &, .face, .back { transition: transform var(--container-duration, .4s) ease-out; }

        .face, .back
        {
            flex-shrink: 0;
    
            padding: 1.4rem 1.8rem;

            backface-visibility: hidden;

            border: solid $light .1rem;

            box-shadow: 0 0 .4rem $light;

            @include media.min($ms4, $ms4) { padding: 2rem 4rem; }
        }

        .face .output .cell
        {
            height: fit-content;
    
            padding: .2rem .6rem;

            background-color: $light;

            color: $dark;
        }

        .back .desc .cell { padding-block: .4rem !important; }
    }
}