/*----------------------------------------------- #||--title--|| */


/* #\-USES-\ */

    /* --SASS */

    /* --GLOBAL */
    @use './colors'      as *;
    @use './breakpoints' as *;

    /* --APP */
    @use '../app';

    /* --DEPENDENCIES */
    @use '../styles/utils';

    /* --MEDIA */
    @use '../styles/media';


/* #\-EXPORTS-\ */

    /* --THIS */


/* #\-VARIABLES-\ */

    /* --* */
    $s: .2rem;


/* #\-MIXIN-\ */

    /* --* */


/* #\-PLACEHOLDER-\ */

    /* --* */


/* #\-THIS-\ */

.title
{
    .fragments
    {
        transform: translateX(calc(var(--fragments-t-x, 0) * var(--fragments-direction, 0)));

        transition: transform .4s ease-out;

        &>pre { @include utils.text-stroke($dark, $s); }

        @include media.min($ms3, $ms3)
        {
            &:nth-child(1) { margin-left: calc(app.$gap-inline * 2); }
            &:nth-child(2) { margin-left: app.$gap-inline;           }
        }
    }

    .element>* { filter: drop-shadow(0 0 $s $dark); }
}