/* #COLOR */

$dark: #151515;
$light: #EDF7F6;
$intermediate: #626D58;
$primary: #3F8EFC;
$indicator: #EF233C;

$colors:
(
    dark $dark,
    light $light,
    intermediate $intermediate,
    primary $primary,
    indicator $indicator
)