/* #RESET */

html { font-size: 62.5%; }

body, h1, h2, h3, h4, h5, h6, ul, p, figure, blockquote, pre { margin: 0; }
ul, button, input, input[type="text"], textarea { padding: 0; }

li { list-style: none; }

/* #FONT */

@font-face
{
    font-family: 'CodeNext';
    src: url('../fonts/CodeNext/CodeNext-Trial-Black.ttf');
}
@font-face
{
    font-family: 'AnonymousPro';
    src: url('../fonts/AnonymousPro/AnonymousPro.ttf');
}

/* #SET */

html, body, body>div, #app
{
    overflow: hidden;

    width: 100vw;
    height: 100vh;
}

a, img
{
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}