/*----------------------------------------------- #||--animation--|| */


/* #\-USES-\ */

    /* --SASS */

    /* --GLOBAL */
    @use '../global/colors' as *;

    /* --APP */

    /* --DEPENDENCIES */
    @use './utils';
    @use './display';

    /* --MEDIA */


/* #\-EXPORTS-\ */

    /* --THIS */


/* #\-VARIABLES-\ */

    /* --* */


/* #\-MIXIN-\ */

    /* --* */


/* #\-PLACEHOLDER-\ */

    /* --* */
    %a-scaled
    {
        transform: translateY(50%) scaleY(0);

        animation: a-scaled .4s .4s ease-out forwards;

        @keyframes a-scaled { to { transform: translateY(0) scaleY(1); } }
    }

    %a-text
    {
        &:hover::after { clip-path: polygon(0 110%, 100% 110%, 100% 0, 0 0); }

        &::after
        {
            @include utils.placement(absolute, 0, 0, 0, 0, $pe: attr(data-content));

            @extend %f-center;
            @extend %any-size;

            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);

            color: $primary;
            font: inherit;

            transition: clip-path .4s ease-out;
        }
    }

    %a-hue-30
    {
        animation: a-hue-30 3s alternate infinite;

        @keyframes a-hue-30 { from { filter: hue-rotate(0deg); } to { filter: hue-rotate(30deg); } }
    }


/* #\-THIS-\ */