// #DISPLAY

    // --DISPLAY-FLEX
    %f-column-center
    {
        @extend %f-center;
        flex-direction: column;
    }

    %f-center
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    %f-column
    {
        display: flex;
        flex-direction: column;
    }

    %f-j-center
    {
        display: flex;
        justify-content: center;
    }

    %f-a-center
    {
        display: flex;
        align-items: center;
    }