/*----------------------------------------------- #||--font--|| */


/* #\-USES-\ */

    /* --SASS */
    @use 'sass:map';
    @use 'sass:list';

    /* --GLOBAL */
    @use '../global/breakpoints' as *;

    /* --APP */

    /* --DEPENDENCIES */

    /* --MEDIA */
    @use './media';


/* #\-EXPORTS-\ */

    /* --THIS */


/* #\-VARIABLES-\ */

    /* --* */
    $family-title       : 'CodeNext-BLACK', 'CodeNext', 'sans-serif', 'arial';
    $family-title-italic: 'CodeNext-BLACK-ITALIC', 'CodeNext-BLACK', 'CodeNext', 'sans-serif', 'arial';
    $family-subtitle    : 'CodeNext', 'CodeNext-BLACK', 'sans-serif', 'arial';

    $family-text-default: 'Courier New';
    $family-text        : 'AnonymousPro';
    $family-text-bold   : 'AnonymousPro-Bold';

    // 0 - 12 - 18 - 24 - 36 - 48 - 60 - 72 - 88
    $font-sizes       : (s0: 0rem, s1: 1.2rem, s2: 1.8rem, s3: 2.4rem, s4: 3.6rem, s5: 4.8rem, s6: 6rem, s7: 7.2rem, s8: 9.6rem);
    $font-sizes-length: list.length($font-sizes);

    $line-height-min: .76;


/* #\-MIXIN-\ */

    /* --* */
    @mixin h-($n: false, $color: inherit, $line-height: $line-height-min, $italic: false, $subtitle: false)
    {
        @extend %default-settings;

        @if $italic
        {
            font-family: $family-title-italic;
            font-style : italic;
        }
        @else if $subtitle { font-family: $family-subtitle; }
        @else              { font-family: $family-title; }

        color      : $color;
        font-size  : var(--title-size, map.get($font-sizes, s3));
        line-height: $line-height;

        @if $n
        {
            $default-size: map.get($font-sizes, 's#{$font-sizes-length - $n - 2}');

            #{--title-size}: $default-size;

            @include media.min($ms2, $ms3) { #{--title-size}: map.get($font-sizes, 's#{$font-sizes-length - $n - 1}'); }
            @include media.min($ms3, $ms3) { #{--title-size}: map.get($font-sizes, 's#{$font-sizes-length - $n - 0}'); }
        }
    }

    @mixin text($color: inherit, $regular: true, $font-size: map.get($font-sizes, s2), $line-height: 1)
    {
        @extend %default-settings;
    
        @if $regular
        {
            font-family: $family-text, $family-text-default;
            font-weight: normal;
        }
        @else
        {
            font-family          : $family-text-bold, $family-text-default;
            font-weight          : bold;
            font-synthesis-weight: auto;
        }
    
        color      : $color;
        font-size  : $font-size;
        line-height: $line-height;
    }


/* #\-PLACEHOLDER-\ */

    /* --* */
    %default-settings
    {
        font-stretch           : 100%;
        text-indent            : 0;
        font-variant           : normal;
        font-kerning           : normal;
        font-feature-settings  : normal;
        font-variation-settings: normal;
        font-smooth            : antialiased;
        -webkit-font-smoothing : antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-optical-sizing    : auto;
        text-rendering         : geometricPrecision;
    }


/* #\-THIS-\ */