// #USES

@use 'sass:map';

@use '../../../../static/variables' as *;

@use './_position';
@use './_size';

// #VARIABLES

    // --FONT-FAMILY
    $family-title: 'CodeNext';
    $family-content: 'AnonymousPro';

    // --FONT-SIZE -> 0 - 12 - 18 - 24 - 36 - 48 - 60 - 72 - 88
    $font-sizes: (s0: 0rem, s1: 1.2rem, s2: 1.8rem, s3: 2.4rem, s4: 3.6rem, s5: 4.8rem, s6: 6rem, s7: 7.2rem, s8: 8.8rem);

    // --FONT-WEIGHT
    $content-font-weight: (w1: 100, w2: 900); // only 2 values

    // --FONT-TITLE
    $h-1: (color: $light, font-family: $family-title, font-size: map.get($font-sizes, s8), font-weight: 900, line-height: .8);

    $titles: ('h-1': $h-1);

// #FONT

    // --FONT-TITLE
    @mixin h-($number: 1) { @each $key, $value in map.get($titles, 'h-#{$number}') { #{$key}: $value; } }

    // --FONT-INTERACT
    @mixin interact($color: inherit, $font-size: map.get($font-sizes, s2), $line-height: 1, $font-weight: map.get($content-font-weight, w2))
    {
        color: $color;
        font: $font-weight $font-size $family-content;
        line-height: $line-height;
        user-select: none;
    }

    // --FONT-ANIMATIONS
    %simple-hover
    {
        transition: color .27s;

        &:hover { color: $primary; }
    }

    %selected
    {
        &::before
        {
            @include position.placement(absolute, 50%, 0, 0, 0, true);

            transform: translateX(-50%) scaleX(.05);

            width: 100%;
            height: 0;
            
            border-top: solid $light 1px;
        }

        opacity: .9;

        transition: opacity .3s;

        &::after
        {
            @include position.placement(absolute, -1px, 0, 0, 0, true);

            @extend %any;

            transform: scale(1, 0);

            border: solid $primary 1px;
            
            box-shadow: 0 0 5px $primary;
        }

        &.selected
        {
            &::before
            {
                border-top-color: $primary;

                animation: selected-before .3s ease-out;

                @keyframes selected-before { 100% { transform: scaleX(1); } }
            }

            opacity: 1;

            animation: selected .4s forwards;

            @keyframes selected
            {
                40% { color: $indicator; }
                100% { color: $primary; }    
            }

            &::after
            {
                animation: selected-after .2s linear .25s forwards;

                @keyframes selected-after { 100% { transform: scale(1); } }
            }
        }
    }
