// #POSITION

    // --POSITION-FIXED
    @mixin placement($position: relative, $top: false, $right: false, $bottom: false, $left: false, $pseudo-element: false)
    {
        @if $pseudo-element
        {
            @if type-of($pseudo-element) == 'string' { content: $pseudo-element; } @else { content: ''; }
        }

        position: $position;
        
        @if $top { top: $top; }
        @if $right { right: $right; }
        @if $bottom { bottom: $bottom; }
        @if $left { left: $left; }
    }