// #USES

@use 'sass:map';

@use '../global/colors' as *;

// #VARIABLE

    // --SCROLL-BAR
    $scroll-bar-width: 10px;

// #UTILS

    // --BORDER
    @mixin solid-border($color, $size, $top: true, $right: true, $bottom: true, $left: true, $radius: false)
    {
        $border: solid $color $size;
        $positions: top, right, bottom, left;
        $positions-status: (top: $top, right: $right, bottom: $bottom, left: $left);

        @each $position in $positions
        {
            @if map.get($positions-status, $position) { border-#{$position}: $border; }
            @else { border-#{$position}: none; }
        }

        @if $radius { border-radius: $radius; }
    }

    @mixin border-radius($value, $top-left: true, $top-right: true, $bottom-right: true, $bottom-left: true)
    {
        $angles: 'top-left', 'top-right', 'bottom-right', 'bottom-left';
        $angles-status: ('top-left': $top-left, 'top-right': $top-right, 'bottom-right': $bottom-right, 'bottom-left': $bottom-left);

        @each $angle in $angles { @if map.get($angles-status, $angle) { border-#{$angle}-radius: $value; } }
    }

    // --SCROLL-BAR
    %scroll-bar
    {
        &::-webkit-scrollbar
        {
            width: $scroll-bar-width;

            background-color: $dark;

            pointer-events: auto;
        }
        &::-webkit-scrollbar-thumb
        {
            background-color: $primary;

            pointer-events: auto;
        }
    }

    // --NO-DRAG
    %no-drag
    {
        user-select: none;
        -webkit-user-drag: none;
        -webkit-app-region: no-drag;
    }