/*----------------------------------------------- #||--utils--|| */


/* #\-USES-\ */

    /* --SASS */

    /* --GLOBAL */
    @use '../global/colors' as *;

    /* --APP */

    /* --DEPENDENCIES */

    /* --MEDIA */


/* #\-EXPORTS-\ */

    /* --THIS */


/* #\-VARIABLES-\ */

    /* --* */
    $scroll-bar-width: 1rem;


/* #\-MIXIN-\ */

    /* --* */
    @mixin fixed($z: false, $pe: false)
    {
        @include placement(fixed, 0, 0, 0, 0, $z: $z, $pe: $pe);

        @extend %any-size;

        max-height: 100svh;
    }

    @mixin absolute-center($z: false, $pe: false)
    {
        @include placement(absolute, $top: 50%, $left: 50%, $z: $z, $pe: $pe);

        transform: translate(-50%, -50%);
    }

    @mixin placement($position: relative, $top: false, $right: false, $bottom: false, $left: false, $z: false, $pe: false)
    {
        @if $pe
        {
            @if type-of($pe) == 'string' { content: $pe; }
            @else                        { content: ''; }
        }

        position: $position;
        
        @if $top    { top: $top; }
        @if $right  { right: $right; }
        @if $bottom { bottom: $bottom; }
        @if $left   { left: $left; }

        @if $z { z-index: $z; }
    }


/* #\-PLACEHOLDER-\ */

    /* --* */
    %scroll-bar
    {
        &::-webkit-scrollbar, &::-webkit-scrollbar-thumb { pointer-events: auto !important; }
    
        &::-webkit-scrollbar { width: $scroll-bar-width; }
    
        &::-webkit-scrollbar-thumb { background-color: $light; }
    }

    %sticky
    {
        @include placement(sticky, $top: 0, $right: 0, $left: 0);
    
        @extend %full-screen;
    }

    %full-screen
    {
        width:  100%;
        height: 100vh;
        height: 100svh;
    }

    %any-size
    {
        width:  100%;
        height: 100%;
    }

    %no-drag
    {
        -webkit-user-drag:  none;
        -webkit-app-region: no-drag;
    }


/* #\-THIS-\ */