// #DISPLAY

    // --DISPLAY-FLEX
    @mixin f-column-center
    {
        @include f-center;
        flex-direction: column;
    }

    @mixin f-center
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @mixin f-column
    {
        display: flex;
        flex-direction: column;
    }

    @mixin f-j-center
    {
        display: flex;
        justify-content: center;
    }

    @mixin f-a-center
    {
        display: flex;
        align-items: center;
    }